In [1]:
import pandas as pd
import json

# Load the JSON file
with open('../frontend/contributors.json', 'r') as f:
    contributors_data = json.load(f)

# Convert to DataFrame
df = pd.DataFrame(contributors_data)

# Display first few rows to verify the data
df.head()

   id                      feature  contribution
0   1  consumption_change_rate_24h   4108.920410
1   2                         hour   1565.668945
2   3                 PJME_lag_24h   -395.084839
3   4   avg_temperature_washington   -262.041870
4   5                  day_of_week    247.351227

In [2]:
# Count unique values in the 'feature' column
num_unique = df['feature'].nunique()
print(f"Number of unique contributors: {num_unique}")

# To see the list of unique features:
print("\nUnique features:")
print(df['feature'].unique())

Number of unique contributors: 15

Unique features:
['consumption_change_rate_24h' 'hour' 'PJME_lag_24h'
 'avg_temperature_washington' 'day_of_week' 'PJMW_lag_24h' 'is_peak_hour'
 'temp_hour_sin' 'temperature_washington' 'min_temperature' 'temperature'
 'avg_temperature' 'is_peak_hour_of_week' 'temp_hour_cos' 'hour_cos']

In [5]:
# Group by feature and calculate mean contribution
feature_importance = df.groupby('feature')['contribution'].agg([
    ('mean_contribution', 'mean'),
    ('abs_mean_contribution', lambda x: abs(x).mean()),
    ('std_contribution', 'std'),
    ('count', 'count')
]).round(3)

# Sort by absolute mean contribution
print("Features sorted by absolute mean contribution:")
print(feature_importance.sort_values('abs_mean_contribution', ascending=False))

Features sorted by absolute mean contribution:
                             mean_contribution  abs_mean_contribution  \
feature
PJME_lag_24h                           -35.464               2135.937
consumption_change_rate_24h              9.847               1938.911
hour                                    13.895               1510.843
min_temperature                        294.803                535.526
PJMW_lag_24h                           188.296                485.754
temperature_washington                 463.534                463.534
avg_temperature_washington             143.281                461.656
avg_temperature                        445.718                445.718
day_of_week                            -30.797                374.118
temperature                            371.042                371.042
hour_cos                              -369.776                369.776
is_peak_hour                          -332.437                332.437
temp_hour_sin                          275.615                280.827
temp_hour_cos                          231.519                231.519
is_peak_hour_of_week                  -140.162                140.162

                             std_contribution  count
feature
PJME_lag_24h                         2633.592   3002
consumption_change_rate_24h          2359.014   2999
hour                                 1611.007   3230
min_temperature                       547.166   1152
PJMW_lag_24h                          486.564   1343
temperature_washington                 92.381     18
avg_temperature_washington            484.235   1507
avg_temperature                        98.312    241
day_of_week                           411.461    869
temperature                            51.589     83
hour_cos                                  NaN      1
is_peak_hour                           85.195   1735
temp_hour_sin                         116.063     96
temp_hour_cos                             NaN      1
is_peak_hour_of_week                      NaN      1